<div class="mainpage-container">
    <div class="mainpage-box-container" > 
        <div ng-repeat="box in mainpage.box">	
            <div class="mainpage-box{{box.num}} mainpage-allbox" ng-mouseenter="box.hover = true" 
				 ng-mouseleave="box.hover = false">
            	<div ng-if="!box.clicked || box.link != ''" ng-class="{'mainpage-box-shadow-show' : box.hover, 
							   'mainpage-box-shadow-hide' : !box.hover}" ng-click="box.clicked = !box.clicked;root.changeLoc(box.link)">
            	</div>
                <div class="mainpage-box-text" ng-click="">
					{{box.desc}}
                </div>
				
				<div class="mainpage-box-bodytext" ng-if="box.clicked" ng-click="box.clicked = !box.clicked">
                    {{box.text}}
                </div>
				
				<div ng-class="{'mainpage-slideshow-right-show' : box.hover, 
							   'mainpage-slideshow-right-hide': !box.hover}" 
					 ng-if="box.num == 5" ng-click="mainpage.changeSlide(1)">
					<div class="fa fa-chevron-right mainpage-slideshow-right-icon">
					
					</div>
				</div>
				<div ng-class="{'mainpage-slideshow-left-show' : box.hover, 
							   'mainpage-slideshow-left-hide': !box.hover}" 
					 ng-if="box.num == 5" ng-click="mainpage.changeSlide(0)">
					<div class="fa fa-chevron-left mainpage-slideshow-left-icon">
					
					</div>
				</div>
				
				<div class="mainpage-box-cover" ng-if="box.clicked == false || box.link != ''">
					<div class="mainpage-box{{box.num}}-picture" ng-if="box.num != 5" >
						<img src="./images/img{{box.num}}.jpg" width="100%" height="100%"/>
					</div>

					<div class="mainpage-box{{box.num}}-picture" ng-if="box.num == 5">
						<div ng-repeat="image in mainpage.images" >
							<div class="fadein fadeout" ng-show="image.num == mainpage.currentSlide">
								<img src="{{image.src}}" width="100%" height="100%"/>		
							</div>
						</div>
					</div>
				</div>
        	</div>			
        </div>    
    </div>    
    
    </div>

